@import "../../styles/GlobalStyle";

.register-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-bottom: 1px solid $color-gray-200;

  button{
    background-color: $color-gray-200;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
  }
}

.register-div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.register-form {
  max-width: 250px;
  padding: 20px;

  h4 {
    font-weight: bold;
    margin-bottom: 10px;
  }


}
