@import "../../styles/GlobalStyle";

.modal-body{
    background-color: $color-gray-700;
    padding: 20px;
    box-shadow: 0 0 25px 0 rgba($color: #000000, $alpha: .25);
    width: 100%;
    max-width: 250px;
}