@import "../../styles/GlobalStyle.scss";

.modal-body-delete-user {
  box-shadow: 0 0 25px 0 rgba($color: #000000, $alpha: 0.25);
  max-width: 350px;
  max-height: 300px;
  background-color: $color-gray-200;
  border-radius: 5px;
  padding: 20px;
  font-family: "Balsamiq Sans", sans-serif;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
