@import "../../styles/GlobalStyle";

li {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  max-height: 300px;
  flex-basis: calc(
    25% - 40px
  ); 
  overflow: auto;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: $color-gray-200;

  h2 {
    font-size: 40px;
  }

  p {
    font-size: 15px;
  }

}
